body {
    font-family: "Montserrat", sans-serif;
}

.menu .menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.menu .menu-item {
    padding: 5px;
    white-space: nowrap;
    list-style: none;
    position: relative;
    margin-right: 30px;
}

.menu .menu-item .dropdown {
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    background-color: white;
    padding: 5px 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}


.menu .menu-item-with-dropdown {
    position: relative;
}

.menu .menu-item-with-dropdown li{
    position: relative;
    padding-top: 10px;
}


.menu .menu-item-with-dropdown:hover .dropdown {
    display: block;
}


.menu a{
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 150, 170);
}

.menu .menu-item:hover .dropdown {
    display: block;
}

.menu .menu-item img {
    display: inline-block;
}

.menu .menu-item .dropdown li:hover{
    background-color: #fff1f4;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . menu";
    align-items: first baseline;
    margin: 30px 10px;
}

.logo{
    grid-area: logo;
}

.menu{
    grid-area: menu;
}

.pink-and-white {
    margin: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 0 3em; 
  }
  
  .container.left {
    background-color: white;
    padding: 20px;
  }

  .container.left h1{
    font-size: 4em;
    font-weight: bold;
  }
  
  .container.left p{
    font-size: 25px;
    font-weight: 500;
  }
  
  .container.right {
    background-color: pink; 
    padding: 20px;
    text-align: center;
  }

  .container.right p{
    font-size: 22px;
    font-weight: 400;
  }
  
  .button{
    background-color: #ff96aa;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 30px; 
    border: none;
    cursor: pointer;
    text-decoration: none; 
    display:inline-block;
}

.circle-img img{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    position: relative; 
    
}

.text-image-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.subtitle {
    font-size: 17px;
    font-weight: bold;
    text-align: left;
  }
  
  .text {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
  }

  .block-text{
    margin-left: 20px;
  }

  .partners{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    margin-bottom: 100px;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px 20px;
    justify-content: center; 

  }

  .logo-img {
    height: 40px;
    width: auto;
  }

  .video-container{
    display: grid;
    padding-top: 100px;
   padding-bottom: 100px;
    justify-content: center;
   background-color: #102441;

  }

  .icon {
    stroke: pink; 
    stroke-width: 2px; 
    width: 100px;
    height:100px;
  }

  .imagecard {
     width: 100%;
     height: 200px; /* Выберите нужную вам высоту */
     object-fit: cover;
  }


.container-with-cards{
    text-align: center;
    background-color: lightgrey;
    padding-bottom: 90px;
    padding-top: 80px;
}

.container-with-cards h2{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.container-with-cards h3{
    font-size: 30px;
    font-weight: 700px;
    color: #ff96aa;
}



  .with-cards{
    display: grid;
    gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
  }

  .card {
    text-align: center;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  }

  .card h4{
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
  }

  .card h5{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }

  .card p{
    margin: 40px;h
  }

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: center;
}


  .button {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .button-1 {
    background-color: red;
    color: white;
  }
  
  .button-2 {
    background-color: blue;
    color: white;
  }
  
  .button-3 {
    background-color: green;
    color: white;
  }
  
  .button-4 {
    background-color: orange;
    color: white;
  }

  .roadmap{
    display: grid;
    grid-template-columns: auto 1fr 400px;
    grid-gap: 10px;
    justify-content: left;
    background-color: rgb(255, 247, 249);
    padding-top: 50px;
  }

  .roadmap-text{
   margin-right : 50px;
  }

  .call-to-action h3{
    font-size: 50px;
    font-weight: 700;
  }
  
  .call-to-action h1{
    font-size: 90px;
    font-weight: 700;
    color: rgb(255, 150, 170);
  }

  .banner{
    padding-top: 50px;
    padding-bottom: 30px;
    display:block;
    text-align: center;
    background-image: url('img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tag {
    position: absolute;
    top: 30px;
    left: 30px; 
    padding: 5px 10px; 
    background-color: #ff96aa; 
    color: white; 
    font-size: 12px; 
    border-radius: 5px; 
}

.card a{
    display: block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 150, 170); ;
}

.thing{
    display: grid;
    padding: 60px;
    padding-bottom: 100px;
    background-color: rgb(255, 247, 249);
    justify-items: center;    
}

.text-thing{
    background-color: white;
    margin-top:30px;
    padding: 20px;
    width: 60%;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    position: relative;
}

.text-thing::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%; 
    margin-left: -10px; 
  
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 20px solid rgb(255, 255, 255); 
    z-index: 10;
    
}
